* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    padding: 0;
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-window {
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.question-buttons button {
    display: block;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}